:root{
	--main-color: #5695be;
	--head-foot-height: 100px;
}
html{
	font-family: Verdana, sans-serif;
}
h1{
	padding: 0 !important;
	margin: 0 !important;
	word-wrap: normal;
}
body {
	background-color:#eee;
}
h1{
	word-wrap: normal;
	color: white;
	text-transform: uppercase;
}
article{
	width: 100%;
	min-height: 400px;
}
header, footer{
	width: 100%;
	background-color: var(--main-color);
}
header{
	box-shadow:0 2px 3px rgba(0,0,0,0.4),
		0 3px 1px #5586be,
		0 5px 1px #6ec9d9,
		0 6px 0 white;
}
.header-info{
	height: 40px;
	margin: 30px 16px;
}
.canvas-wrap{
	min-width: 400px;
	padding: 0px;
}
#score{
	font-size: 4rem;
}
#score-box div:first-child, #start{
	font-size: 2rem;
}
#score-box div{
	height: 100px;
}
canvas, .cnv{
	min-width: 400px !important;
	max-width: 400px !important;
	width: 400px !important;
}
canvas{
	background-color: #dbeef2;
}
#score-box{
	border-radius: 5px;
 	background-color: #eee;
	box-shadow: inset 0px 0px 128px -15px #eee;
	width: 100%;
	margin: 0;
}
#start-wrap{
	height: 200px;
}
.triengles-wrap{
	position: relative;
	top: -32px;
	width: 400px;
}
.triengle{
	display: inline;
	width: 0;
	height: 0;
	border-bottom: 10px solid #dc0e13;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.logo{
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 20px solid red;
	border-left: 20px solid blue;
	border-top: 20px solid yellow;
	border-right: 20px solid green;
}
.logo::after{
	content: 'Letters catcher';
	position: absolute;
	left: 1.5rem;
	top: -1.2rem;
	width: 10rem;
	font-family: Lucida Console, sans-serif;
	font-size: 1.2rem;
	color: white;
}
.we{
	height: 40px;
}
.rules-wrap{
	padding: 3rem 0;
}
.rules{
	border: 1px solid var(--main-color);
	padding: 1.6rem 2rem 2rem 0.8rem;
	border-radius: 2rem;
	background-color: #e4e4e4;
	text-align: justify;
}